/*以下是定位布局 以下是定位布局 以下是定位布局 以下是定位布局 以下是定位布局 以下是定位布局 以下是定位布局 以下是定位布局*/

/*
#all {
	margin: 20px auto;
	max-height: 1400px;
	padding: 20px;
	width: 95%;
	border: 1px solid #999;
	background-color: #eee;
}

#left {
    position: absolute;
    top :40px;
    padding: 20px;
    width: 200px;
	border: 1px solid #999;
	background-color: #fff;

}

#left span {
	vertical-align: top;
	margin-left: 20px;
}

#middle {
    margin: 0 140px 200px 260px;
	padding: 20px;
	font-size: 12px;
	line-height: 24px;
	border: 1px solid #999;
    background-color: #fff;
}

#right {
	position: absolute;
	top: 40px;
	right: 40px;
	width: 120px;
	border: 1px solid #999;
	background-color: #fff;
}

#right img {
	display: block;
	margin: 10px auto;
}
*/


/*浮动布局*/


#all {
	margin: 20px auto;
	padding: 20px;
	overflow: hidden;
	width: 95%;
	border: 1px solid #999;
	background-color: #eee;
}

div {
	border: 1px solid #999;
	background-color: #fff;
}

#left {
    float: left;
    width: 200px;
    padding: 20px;
}

#left span {
    vertical-align: top;
    margin-left: 20px;
}

#right {
	float: right;
	width: 120px;
	text-align: center;
	padding-bottom: 20px;
}

#right img {
    margin-top: 20px;
}

#middle {
    margin: 0 140px 0 260px;
    padding: 20px;
    font-size: 12px;
    line-height: 24px;
}