* {
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
	color: #000;
}

ul {
	list-style: none;
}

#header {
	position: relative;
	min-width: 1280px;
	height: 57px;
	margin: 0 auto;
}

#header .logo {
    position: absolute;
    left: 50px;
    height: 57px;
    line-height: 57px;
}

#header .logo img {
    vertical-align: middle;
}

#header .logo span {
    font: bold 24px SimSun;
    vertical-align: middle;
}

#header ul {
	position: relative;
	top: 15px;
	margin-left: 63%;
    font: 16px YouYuan;
}

#header li {
	float: left;
	width: 60px;
	height: 57px;
	margin-left: 10px;
	text-align: center;
}

#header li:hover {
	width: 60px;
	height: 40px;
	border-bottom: 4px solid #e74f4d;
}

#header .li01 a {
	color: #e74f4d;
}

#header .register {
	position: absolute;
	right: 50px;
	top: 15px;
}

#header .register span {
	font: 16px YouYuan;
	vertical-align: top;
	color: #e74f4d;
}

/*以上是头部导航*/
.banner {
	height: 690px;
	padding: 200px 0 0 130px;
	background-size: 100% 100%;
	background-image: url('image/banner.jpg');
	color: #fff;
}

.banner .p1 {
    font: 72px "Microsoft YaHei";
}

.banner .p2,.p3{
	font: 24px SimSun;
}

.banner .p4 {
	margin-top: 80px;
	width: 350px;
	height: 70px;
	line-height: 70px;
	background-color: #e74f4d;
	text-align: center;
}

.banner .p4 span {
    font: 24px SimHei;
	vertical-align: middle;
}

/*以上是banner部分*/

#icon .icon01,.icon02,.icon03,.icon04 {
	float: left;
	width: 25%;
	height: 250px;
	padding: 50px 0;
	box-sizing: border-box;
	font: 16px SimHei;
	text-align: center;
	color: #ccc;
	background-color: #fff;
}

#icon .icon01 p {
	box-sizing: border-box;
	width: 100%;
	height: 60px;
    padding: 0 50px;
    margin-top: 30px;
    text-align: center;
    border-right: 2px solid #ccc;
}

#icon .icon02 p {
	box-sizing: border-box;
	width: 100%;
	height: 60px;
    padding: 0 50px;
    margin-top: 30px;
    text-align: center;
    border-right: 2px solid #ccc;
}

#icon .icon03 p {
	box-sizing: border-box;
	width: 100%;
	height: 60px;
    padding: 0 50px;
    margin-top: 30px;
    text-align: center;
    border-right: 2px solid #ccc;
}

#icon .icon04 p {
	box-sizing: border-box;
	width: 100%;
	height: 70px;
    padding: 0 50px;
    margin-top: 30px;
    text-align: center;
}

/*以上是四个标语*/

#big-icon {
	padding-top: 100px;
	height: 360px;
	background-color: #ededec;
	text-align: center;
	color: #a1a1a1;
	font: 50px SimHei;
	clear: both;
	box-sizing: border-box;
}

/*以上是大标语*/

#form {
	position: relative;
	padding-top: 50px;
	box-sizing: border-box;
	height: 340px;
	background-image: url(image/trim.jpg);
}

#form p {
	text-align: center;
	color: #fff;
	font-family: SimSon;
}

.form-p1 {
    font-size: 22px;
}

.form-p2 {
	position: relative;
	left: 50%;
	margin-left: -25px;
	margin-bottom: 20px;
	width: 50px;
	height: 15px;
	border-bottom: 2px solid #fff;
}

.form-p3 {
	font-size: 12px;
}

/*以下是表单*/
.form-input {
	position: absolute;
	left: 50%;
	top: 50%;
	width: 1024px;
	margin-left: -512px;
}

.form-input .form-input-01> li {
	float: left;
    position: relative;
    margin-left: 30px;
}

.form-input input {
	position: relative;
	width: 220px;
	height: 36px;
	border: none;
	text-indent: 10px;
	color: #a1a1a1;
}

.form-input li i {
	position: absolute;
	right: 5px;
	top: 10px;
	width: 19px;
	height: 18px;
    background-image: url(image/select.png);
}

.form-input-submit input {
	border: none;
	background-color: #e74f4d;
	color: #fff;
}

.form-input-select {
	border: 1px solid #e74f4d;
}

.form-input-select .select01 {
	width: 220px;
	background-color: #ccc;
	height: 150px;
	font: 12px/12px SimSon;
}

.form-input-select .select01 li {
	width: 220px;
	height: 30px;
	font: 12px/12px SimSon;
	line-height: 30px;
	text-indent: 30px;
	color: #89898a;
}

.form-input-select .select01 .select02 {
	background-color: #e74f4d;
	color: #fff;
	background-image: url("image/select02.png");
	background-repeat: no-repeat;
	background-position: 5% 50%;
}

.form-input-select .select01 li:hover {
	background-color: #e74f4d;
	color: #fff;
	background-image: url("image/select02.png");
	background-repeat: no-repeat;
	background-position: 5% 50%;
}


/*以下是四个竖图*/

#pic {
	height: 600px;
	background-color: #f8f8f8;
	padding-left: 8%;
}

#pic .pic01,.pic02,.pic03,.pic04 {
	float: left;
	margin: 100px 0 0 50px;
    width: 219px;
    height: 400px;
}

#pic .pic-s {
	width: 219px;
	height: 337px;
	overflow: hidden;
	border: 1px solid #ccc;
	padding: 5px;
}

#pic .pic-p1 {
	margin: 10px 0 15px;
    font: bold 20px SimSon;
    text-align: center;
}

#pic .pic-p12 {
	text-indent: 40px;
	margin-bottom: 20px;
    font: bold 20px SimSon;
	letter-spacing: 20px;
}

#pic .pic-p2 {
	font: 14px SimSon;
    text-align: center;
    color: #9f9f9f;
}

#pic .pic-p22 {
	margin-bottom: 10px;
	font: 14px SimSon;
    text-align: center;
    color: #9f9f9f;
}

/*以下是左图右文字*/

#content .content-left {
	float: left;
	width: 66%;
	height: 567px;
	background-image: url(image/left.jpg);
	box-sizing: border-box;
}

#content .content-right {
	position: relative;
	float: right;
	width: 34%;
	height: 567px;
	text-align: center;
	padding-top: 180px;
	box-sizing: border-box;
}

#content .content-right .red {
	color: #e74f4d;
}

#content .content-right p {
	margin: 30px 80px 30px;
	font: 12px/24px SimSon;
	color: #a1a1a1;
}

#content .content-right div {
	position: absolute;
	left: 50%;
	margin-left: -75px;
    width: 150px;
    height: 40px;
    border: 1px solid #e74f4d;
    font: 14px/40px SimHei;
    color: #e74f4d;
}

#content .content-right .span001 {
	display: inline-block;
	margin-top: 80px !important;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: #a1a1a1;
}

#content .content-right .span002 {
	display: inline-block;
	margin-top: 80px !important;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    border: 1px solid #a1a1a1;
    box-sizing: border-box;
}

/*以下是三张竖着的文字加图片*/

#content02 {
	height: 521px;
    clear: both;
}

#content02 .div01,.div02 {
	box-sizing: border-box;
	padding-top: 150px;
	width: 33%;
	height: 521px;
	font: 20px SimHei;
	text-align: center;
}

#content02 .div01 {
	position: relative;
	float: left;
    background-color: #e74f4d;
    color: #fff;
}

#content02 .span01, .span02{
	display: inline-block;
	height: 20px;
	width: 35px;
	margin-bottom: 20px;
    border-bottom: 2px solid #fff;
}

#content02 .div01-01,.div01-02{
	position: absolute;
	left: 50%;
	margin-left: -100px;
	width: 200px;
	height: 40px;
	line-height: 40px;
	border: 1px solid #fff;
} 

#content02 .div02 {
	float: left;
	background-color: #fff;
}


#content02 .div01-02 {

	color: #e74f4d;
	border: 1px solid #e74f4d;
} 

#content02 .span02{
    border-bottom: 2px solid #a1a1a1;
}

#content02 .div03 {
	float: left;
	width: 34%;
	height: 521px;
	background-image: url(image/div03.jpg);
	background-size: 100% 100%;
}

/*conten03*/

#content03 {
	height: 300px;
	text-align: center;
	box-sizing: border-box;
	padding: 100px 300px 0;
}

#content03 span {
	display: inline-block;
	height: 20px;
	width: 35px;
	margin-bottom: 20px;
    border-bottom: 2px solid #e74f4d;
}

#content03 p {
	font: 12px/24px SimSon;
	color: #a1a1a1;
}

/*content04*/

#content04 {
    height: 500px;
}

.content04-left {
	float: left;
	position: relative;
	box-sizing: border-box;
	padding-left: 100px;
    width: 35%;
    height: 500px;
}

.content04-left h4 {
	color: #666160;
    margin: 20px 0;
}

.content04-left p {
    font: 12px/24px SimSon;
    color: #a1a1a1;
}

.content04-left span {
	display: inline-block;
	height: 20px;
	width: 50px;
	position: absolute;
	line-height: 20px;
	right: 0;
	font-size: 10px;
	color: #a1a1a1;
	text-align: right;
    background-image: url('image/more.png');
    background-repeat: no-repeat;
    background-position: 10% 50%;
}

.content04-right {
	box-sizing: border-box;
	padding-left: 40px;
	float: left;
	width: 65%;
	height: 500px;
}

.content04-right input,textarea{	
    font: 12px SimSon;
	color: #a1a1a1;
	background-color: #ededee;
	border: none;

}

.input-01 {
    margin: 20px 0 10px;
}

.input-01 input {
	width: 350px;
	height: 40px;
    text-indent: 20px;
}

.content04-right textarea {
	border: none;
	width: 708px;
	height: 100px;
	margin-bottom: 20px;
	text-indent: 20px;
}

.input-02 input {
	border: none;
	width: 708px;
	height: 40px;
}

/*以下是底部*/

#footer {
	box-sizing: border-box;
	padding: 100px 25% 0;
	height: 361px;
	text-align: center;
	background-color: #32363e;
	color: #fff;
}

#footer h3 {
    margin-bottom: 20px;
}

#footer p {
	margin-bottom: 40px;
	font: 12px/24px SimSon;
	color: #a1a1a1；
}

#footer input[type="text"] {
	text-align: left;
	width: 75%;
	height: 40px;
}

#footer input[type="submit"] {
	text-align: center;
	color: #fff;
    height: 44px;
    width: 100px;
    background-color: #6f7178;
    border: none;
}

#footer .footer-img {
   margin-top: 20px;
}

/*版权部分*/

#copy {
	box-sizing: border-box;
	padding: 30px 30px 0 30px;
	height: 59px;
	background-color: #2f2f38;
	font: 12px SimSon;
	color: #fff;
}

#copy .copy-left {
    float: left;
}

#copy .copy-right {
    float: right;
}

#copy .copy-right a {
	color: #fff;
}

